body{
    background-color: rgb(14, 4, 4);
}
.nav{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.nav a{
    margin-right: 100px;
    text-decoration: none;
    color: rgb(234, 232, 232);
    transition: background-color 2s ease-in;
}
.nav a:hover{
    color: aqua;
    box-shadow: 1px 1px 5px aqua;
    background-color: rgb(21, 107, 182);
}
.card{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 40px;
}
.card img{
    height: 250px;
    border-radius: 50%;
    /* filter: drop-shadow(10px 10px 10px rgb(39, 122, 135)); */
    
}
.card img:hover{
    scale: 1.1;
    box-shadow: 10px 30px 40px aqua;
}
.icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}
.icon i{
    margin-right: 30px;
    color: white;
}
.icon i:hover{
    scale: 1.4;
    color: aqua;

}
.search{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 30px;
}
.search i{
    margin-right: 30px;
}
#search-container {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-top: 0.2rem;  
  }
  
  #search-input-container > input,
  #search-container > button {
    background-color: rgb(255 255 255 / 10%);
    color: rgb(255 255 255 / 80%);
    font-size: 1rem;
    border: none;
  }
  
  #search-input-container:has(input:focus),
  #search-container > button:focus {
    background-color: rgb(255 255 255 / 16%);
  }
  
  #search-container > button {
    width: 3.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  #search-container > #image-button {  
    border-bottom-right-radius: 0.5rem;
  }
  
  #search-input-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: rgb(255 255 255 / 10%);
    padding-left: 1rem;
    border-radius: 0.2rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  #search-input-container > img {
    height: 1.5rem;
  }
  
  #search-input-container > input {
    width: 100%;
    height: 3.25rem;
    background-color: transparent;
    padding: 1rem;  
    padding-left: 0rem;
  }
 .logo{
    display: flex;
    justify-content:center;
    margin-top: 25px;
    gap: 100px;
    
    
 }
 .logo a{
    text-decoration: none;
    color: white;
    font-size: 20px;
 }
 .logo a i{
    margin-right: 15px;
 }
 .logo a:hover{
    color: aqua;
    scale: 1.4;
    box-shadow: 0 0 10px aqua;
 }